main {
    max-width: 1000px;
    margin: auto;
    padding: $espaciado-seccion 20px;
}

section {
    margin-bottom: $espaciado-seccion;
    padding-top: 60px;
    padding-bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
