body.pagina-clara {
    background-color: #F8FAFC;
    color: $color-seccion;
}

body.pagina-clara h1,
body.pagina-clara h2,
body.pagina-clara h3 {
    color: $color-principal;
}

body.pagina-clara p {
    color: #334155;
}

body.pagina-clara a.boton-hablemos {
    background-color: $color-principal;
    color: white;

    &:hover {
        background-color: $color-acento;
        color: $color-fondo;
    }
}

.grid-sobre-mi {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    align-items: start;
    margin-top: 2rem;
    width: 100%;

    @media (max-width: 768px) {
    grid-template-columns: 1fr;
    text-align: center;
    }
}

.foto-sobre-mi img {
    width: 100%;
    max-width: 300px;
    border-radius: 12px;
    @include box-shadow(0px, 4px, 16px, 0px, rgba(0, 0, 0, 0.2));

    @media (max-width: 768px) {
    margin: 0 auto;
    }
}

.texto-sobre-mi h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
    color: $color-principal;
}

.texto-sobre-mi ul {
    padding-left: 2rem;
}

#sobre-mi ul {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;

    @media (max-width: 768px) {
        text-align: left;
    }
}

#sobre-mi ul li {
    margin-bottom: 0.5rem;
}

.botones-sobre-mi {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;

    @media (max-width: 768px) {
        justify-content: center;
    }
}
